@import (less) 'normalize.css';
@import (less) 'jquery.fullPage.css';
.fill {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


#top-nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    li {
        display: inline-block;
        list-style: none;
        margin-right: 5px;
    }
}
#main {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}
#map-area {
    .fill;
}
